
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="top-title">
      Schnitzeljagd
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="top-title" size="large">Schnitzeljagd</ion-title>
    </ion-toolbar>
  </ion-header>
 <div class="page-container">
    <div class="top-people">
      <h2>Top Jäger</h2>
      <div>people</div>
    </div>

    <div class="food">
      <div>Schnitzel</div>
      <div>Kartoffel</div>
    </div>
  </div>
</ion-content>
