ion-content {
  --background: linear-gradient(to bottom right, #211243, #03091F);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.top-people,
.food {
  background-color: rgba(114, 114, 114, 0.3);
  padding: 10px;
  margin: 5px 0;
  color: white;
  text-align: center;
  width: 90%;
  border-radius: 8px;
}

.start-button {
  background-image: linear-gradient(to right, #A94AFF, #3B7CFF);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
}